<header class="header">
        <div class="container page-padding">
            <div class="nav-fixed" style="opacity: 1; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                <div >
                <a class="navbar_link w-nav-link" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <div class="navbar_logo">24</div>
                <a class="nav-link" href="/connect">Connect</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="/logout">Logout</a>
                {% else %}
                <a class="button is-button-small" href="/login">Login</a>
                {% endif %}
                </div>
            </div>
        </div>
    </header> -->

 <div data-w-id="a1313a57-7111-c257-8e4e-060793ad6928" class="nav-wrapper animate-down">
        <div data-animation="over-left" class="navbar_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="2435f181-ae7b-820e-e6f9-46ba2dce621f" role="banner" data-no-scroll="1" data-duration="300" data-doc-height="1">
            <div class="navbar_container">
                <nav role="navigation" class="navbar_menu w-nav-menu">
                    <a href="#" class="menu-close-icon w-nav-brand">
                        <img alt="close icon" loading="lazy" src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62ae34b6450de173da0c39d6_Close-large-w.svg"/>
                    </a>
                    <a href="/" aria-current="page" class="navbar_link mobile-menu-link w-nav-link w--current">Home</a>
                    <a href="/retailers" class="navbar_link text-color-white w-nav-link">For Retailers</a>
                    <a href="/drivers" class="navbar_link text-color-white w-nav-link">For Drivers</a>
                    <a href="/cities" class="navbar_link text-color-white w-nav-link">Cities</a>
                    <a href="/careers" class="nav-menu-link margin-top margin-large w-nav-link">Careers</a>
                    <a href="/about" class="nav-menu-link w-nav-link">About Us</a>
                    <a href="/faq" class="nav-menu-link w-nav-link">FAQ</a>
                    <div class="button-row is-button-row-center margin-top margin-large mobile-menu-button">
                        <a href="/become-a-retailer" class="button with-icon is-red is-menu-button w-inline-block">
                            <div>Become a Retailer</div>
                            <div class="chevron-icon w-embed">
                                <svg width=".875rem" height=".875rem" viewBox="0 0 320 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z" fill="currentColor"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <a href="/" aria-current="page" class="navbar_logo-link-menu w-nav-brand w--current">
                        <img alt="" loading="eager" src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62ae32238e7edea8a6f0ed4f_Wordmark%20-%20white.svg"/>
                    </a>
                </nav>
                <a href="/" aria-current="page" class="navbar_logo-link w-nav-brand w--current">
                    <img alt="" loading="lazy" src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62ae32238e7edea8a6f0ed4f_Wordmark%20-%20white.svg" class="navbar_logo"/>
                </a>
                <div id="w-node-_2435f181-ae7b-820e-e6f9-46ba2dce623b-2dce621f" class="menu-button-container">
                    <div class="button is-menu">
                        <div id="w-node-_2435f181-ae7b-820e-e6f9-46ba2dce623d-2dce621f" class="menu-button w-nav-button">
                            <div>Menu</div>
                        </div>
                        <img alt="menu icon" loading="lazy" src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62ae2f8f52fa1b8546d10d49_menu-icon.svg" class="menu-icon"/>
                    </div>
                </div>
                <div id="w-node-_2435f181-ae7b-820e-e6f9-46ba2dce6241-2dce621f" class="navbar_menu-buttons hide-tablet">
                    <a href="/careers" class="navbar_link text-color-white hide-tablet w-nav-link">Careers</a>
                    <a href="/become-a-retailer" class="button is-button-small w-button">Become a Retailer</a>
                </div>
                <div class="navbar_menu-background"></div>
            </div>
        </div>
    </div> -->

<div class="navbar-no-shadow">
        <div data-animation="default" data-collapse="medium" data-duration="400" class="navbar-no-shadow-container">
            <div class="container-regular">
                <div class="navbar-wrapper">
                    <a href="/" class="navbar-brand w-nav-brand nav-link"><img src="">24</a>
                    <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                        <ul role="list" class="nav-menu w-list-unstyled">

                            <li>
                                <a href="/about" class="nav-link">About</a>
                            </li>
                            <li>
                                <a href="/connect" class="nav-link">Connect</a>
                            </li>
                            <li>
                                <div data-hover="false" data-delay="0"
                                    class="nav-dropdown w-dropdown navbar-no-shadow-container">
                                    <div class="nav-dropdown-toggle w-dropdown-toggle">
                                        <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                                        <div class="text-block">Top</div>
                                    </div>
                                    <nav
                                        class="nav-dropdown-list shadow-three mobile-shadow-hide w-dropdown nav-divider">
                                        <a href="#" class="nav-dropdown-link w-dropdown-link">Today</a>
                                        <a href="/" class="nav-dropdown-link w-dropdown-link">Week</a>
                                        <a href="/" class="nav-dropdown-link w-dropdown-link">Month</a>
                                        <a href="/" class="nav-dropdown-link w-dropdown-link">Year</a>
                                    </nav>
                                </div>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="mobile-margin-top-10">
                                <div class="nav-button-wrapper">
                                    <a href="/logout" class="button-primary w-button">Logout</a>
                                </div>
                            </li>
                            {% else %}
                            <li class="mobile-margin-top-10">
                                <div class="nav-button-wrapper">
                                    <a href="/login" class="button-primary w-button">Login</a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="menu-button w-nav-button">
                        <div class="w-icon-nav-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
