{% extends "layout.html" %}

{% block body %}


<section class="section-drivers background-color-white">
    <div class="page-padding">
        <div class="container-home-drivers">
            <div class="padding-vertical padding-xhuge">

                <div class="margin-bottom margin-small">
                    <div class="text-align-center">
                        <div class="max-width-small align-center">
                            <div class="margin-bottom margin-small">
                                <h2 class="h3-medium">TV Search</h2>
                            </div>
                        </div>
                        <form id="search-form-tv">
                            <input type="text" id="search-input-tv" placeholder="Search for a series">
                            <button type="submit">Search</button>
                        </form>
                        <div id="results-tv"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}