{% extends "layout.html" %}

{% block body %}

<!-- <div class="container"> -->
<section class="section-drivers background-color-white">
    <div class="page-padding">
        <div class="container-home-drivers">
            <div class="padding-vertical padding-xhuge">


                <div class="margin-bottom margin-small">
                    <div class="text-align-center">
                        <div class="max-width-small align-center">
                            <div class="margin-bottom margin-small">
                                <h2 class="h3-medium">24FPS</h2>
                            </div>
                        </div>
                        <p class="text-style-p1 max-width-medium align-center">Go for it</p>
                    </div>
                </div>

                <div class="margin-top margin-xlarge">
                    <div class="button-row is-button-row-center">
                        <a class="button-secondary with-icon w-inline-block" id="home" href="/movie-search">Movies</a>
                        <a class="button-secondary with-icon w-inline-block" id="home" href="/tv-search">TV</a>
                        <a class="button-secondary with-icon w-inline-block" id="movie" href="/search_movie">Search Movie</a>
                        <a class="button-secondary with-icon w-inline-block" id="tv" href="/search_tv">Search TV Show</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="section-logo background-color-white">
    <div class="divider-line-full-width"></div>

    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-x-small">
                <div class="margin-bottom margin-medium">
                    <div class="text-align-center">
                        <div class="max-width-large align-center">
                            <p class="text-style-label1">Platforms we support</p>
                        </div>
                    </div>
                    <div class="logo-component">
                        <img src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62afcac54e77801183b3fe3b_Shopify.svg"
                            loading="lazy" alt="" class="platform_logo">
                        <img src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62afcac537289b6605daa3c9_SS.svg"
                            loading="lazy" alt="" class="platform_logo">
                        <img src="https://assets.website-files.com/62ad1f386286e53cb8d75b62/62afcac41a672b23e5bc144c_API.svg"
                            alt="" class="platform_logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}