body {
    background-color: #f6f2f8;
    color: #0B070D;
}

button {
    background-color: #8B60A4;
    color: #f6f2f8;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
 /* padding: 1em 2em;
    border-radius: 6px;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: 10px;
    z-index: 2;
    white-space: nowrap;
